@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: small;
}

.index {
    background: white;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
    background:#fff;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.15);
    border-radius: .75em;
    padding-top: 2em;
    width:60em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    column-gap: 3em;
    margin: auto;
    margin-top: 5%;
}

.imageSide,
loginSide{
    width:50%;
    display: flex;
}

.imageSide{
    border-right:.1em #cccccc solid;
    padding-bottom: 1em;
}

.loginSide{
margin-top:2em;
}

img{
    width: 100%; 
    height: auto; 
    object-fit: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}

.loginSide > h3{
    color:#3e3f5e;
    font-size: 1.1rem;
    text-align: left;
    padding-bottom: 2em;
    
}

.loginSide > h3::before{
    content: '';
    width: 2em;
    height: .25em;
    border-radius: 1em;
    background-color: #2aade0;
    position: absolute;
}

Form{
    display: flex;
    flex-direction: column;
    margin:2em ;
    padding: 2rem;
    width: 23rem;
}

Form> input[type=text],
Form> input[type=password]{
    border-radius:5em;
    padding:1em .5em;
    width:10em;
    border:.75em solid #ddd;
}

.button{
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.pwd{
   display:flex;
   justify-content: center;
}

.help{
    display: flex;
    justify-content: center;
}

.terms{
    display: flex;
    justify-content: center;
    padding-top: 7em;
}

.logo{
    align-content: center;
    justify-content: center;
}

@media screen and (max-width: 678px){
    .imageSide{
        display: none;
    }
    .container{
        width:auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: auto;
        margin-top: 5%;
    }
}


@media screen and (max-width: 768px){
    .container{
        overflow: hidden;
        background:#fff;
        box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.15);
        border-radius: .75em;
        padding: 2em;
        width:auto;
        display:flex;
        align-items: center;
        justify-content:center;
        column-gap: 3em;
        margin: 4em;
    }
}

@media screen and (max-width: 425px){
    .container{
        background:#fff;
        box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.15);
        border-radius: .75em;
        width: auto;
        height:auto;
        display:flex;
        align-items: center;
        justify-content:center;
    }

    .imageSide{
        display: none;
    }
    .img{
        display:none
    }

    .loginSide{
        margin-left:2em;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .loginSide > h3{
        color:#3e3f5e;
        font-size: 1.8rem;
        text-align: center; 
    }
    .loginSide > h3::before{
        display:none;
    }

    .terms{
        display: flex;
        justify-content: center;
        padding-top: 2em;
    }
}