@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    -webkit-box-align: center;
    align-items: center;
    background: #614385;   
    background: -webkit-linear-gradient(to right, #516395, #614385);
    background: linear-gradient(to right, #516395, #614385); 
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    justify-content: center;
}

.container{
    background:#fff;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.15);
    border-radius: .75em;
    padding-top: 4em;
    padding-bottom: 1em;
    padding-right: 2em;
    width:70em;
    display:flex;
    justify-content:space-between;
    column-gap:4em;
}

.imageSide,
loginSide{
    width:50%;
    padding:2em;
    margin: 2em;
    display: flex;
}

.imageSide{
    border-right:.1em #cccccc solid;
    margin-bottom: 2em;
    flex:1;
}

.loginSide{
margin-top:2em;
flex:1;
}

img{
    width: 25em; 
    height: 25em; 
    object-fit: cover;
}

.loginSide > h3{
    color:#3e3f5e;
    font-size: 1rem;
    text-align: left;
    padding-bottom: 2em;
}

.loginSide > h3::before{
    content: '';
    justify-content: space-between;
    width: 2em;
    height: .25em;
    border-radius: 1em;
    background-color: #a457c5;
    position: absolute;
}

Form{
    margin:2em ;
    padding: 2rem;
}

Form> input[type=text],
Form> input[type=password]{
    border-radius:5em;
    padding:1em .5em;
    width:100%;
    border:.75em solid #ddd;
    font-weight: bold;
    width:100%;
}

.button{
    width: 25rem;
    height: 3em;
    align-content: center;
    border-radius: 2rem;
    display: grid;
    border-color: #a457c5;
    background-color: #a457c5;
}

.pwd{
   display:grid;
   font-weight: bold;
}

.help{
    display: grid;
}

.terms{
    position:relative;
    display: grid;
    padding-top: 7em;
};

.logo{
    align-content: flex-start;
}